@import url("https://fonts.googleapis.com/css?family=Alegreya&display=swap");

code {
  background: white;
  color: green;
}

@media (prefers-color-scheme: dark) {
  .dark {
    background-color: black;
    color: white;
  }
}

body.dark {
  background-color: black;
  color: white;
  .animated-bg,
  header {
    background: black;
  }

  .social-link {
    a {
      color: white;
    }
  }

  .experience-item {
    border-color: white;
    .experience-year {
      background-color: #a0cfd4;
      color: black;
    }
  }
}

.social-link {
  display: inline-block;
  margin: 10px;
  a {
    color: black;
    &:hover {
      color: black;
    }
  }
}

.experience-block {
  position: relative;
}

.experience-item {
  clear: both;
  width: 50%;
  border-width: 2px;
  border-color: black;
  min-height: 100px;
  margin: 10px 0;
  position: relative;
  &:nth-child(odd) {
    left: 50%;
    text-align: left;
    border-left-style: solid;
    padding-left: 20px;
  }
  &:nth-child(even) {
    text-align: right;
    padding-right: 20px;
    margin-left: 2px;
    border-right-style: solid;
  }

  .experience-year {
    background: #483d47;
    color: white;
    height: 45px;
    border-radius: 50%;
    display: inline-block;
    padding: 5px;
    padding-top: 10px;
    font-weight: bold;
    transition: transform 0.5s ease-in-out;
    cursor: pointer;
    &:hover {
      transform: rotate(360deg);
    }
  }
}

.profile-block {
  margin-top: 100px;
}

.profile-title {
  h1 {
    margin-bottom: 10px;
  }
  h3 {
    font-weight: normal;
  }
}

.animated-bg {
  background: #f7f6f6;
  position: absolute;
  width: 100%;
  overflow: hidden;
  height: 300px;
  canvas {
    position: absolute;
  }
}

.theme-toggler {
  cursor: pointer;
  color: white;
  display: inline-block;
}
